# PHP kohtaiset
tmp/*
Config/database.php
app/tmp/cache/models/*
app/tmp/cache/persistent/*
app/tmp/cache/views/*
app/tmp/logs/*
app/tmp/sessions/*
app/tmp/tests/*
app/Config/database.php
app/Config/email.php
app/Config/core.php
!empty

# Näitä ei haluta versionhallintaan!
*.properties
*.swp
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
/.sonar/
Icon?
Thumbs.db
destop.ini
ehthumbs.db
gen_*.sh
*.sublime-project
*.sublime-workspace
/nbproject/
